header
{
	background-color:green;
	color: whitesmoke;
	padding: 2px 0 2px 45%;
  font-size: 15px;
}
body
{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  align-items: center;
  justify-content: center;
  perspective: 500px;
  background-color: white;
}

.box{
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 6px solid white;
  border-radius: 15px 0px 15px 0px;
  margin: 60px auto;
  cursor: pointer;
  float: left;
  margin: 0 10px 0 0px;
}


.box:hover{
  animation: flipV 1s linear;
}
@keyframes flipV{
  50%{
    transform: rotateX(180deg);
  }
  to{
    transform: rotateX(360deg);
  }
}

@keyframes flipH{
  50%{
    transform: rotateY(180deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

#link
{
	margin: 50%;
	color: orangered;
}

#HeRed
{
	color: red;
}

#Centr
{
	color: whitesmoke;
 	margin: 0px 20% 0px;
 	background-color: blue;
 	padding: 10px 15px 50px 15px;
}

#li1
{
	letter-spacing: 6px;
	color: lightblue;
	margin: 5px 0px;
}

.li2
{
	list-style-type: none;
	margin: 30px 0px;
}

td{
width: 60px;
height:60px;
border: 1px silver;
border-style: solid;
text-align:center;
vertical-align: bottom;
color: white;
padding: 5px;
}
table
{
  border-collapse:separate;
  border-spacing: 4px;
}
tr
{
  padding: 0px;
  margin: 10px;
}

#tab1
{
	margin: 0 0 -45px 0;
}

#tabb
{
	float: right;
  border: solid 1px silver;
}

#png{
	float: right;
}

footer
{

	background-color:green;
	color: whitesmoke;
	margin: 0px 0px;
	padding: 2px 0 2px 49%;

}

#WSpace
{
  word-spacing:20px;
}